<header role="banner">
  <a class="logo-desktop-top-wrapper" href="index.html">
    <span class="sr-only">Retour à l'accueil</span>
    <img src="./assets/img/svg/logo-horizontal-grand.svg" alt="Logo du restaurant L'ami Fritsch">
  </a>
  <a class="logo-mobile-top-wrapper" href="index.html">
    <span class="sr-only">Retour à l'accueil</span>
    <img src="./assets/img/svg/logo-horizontal-petit.svg" alt="Logo du restaurant L'ami Fritsch">
  </a>
  <button id="burger" class="burger" aria-label="Ouvrir le menu principal"><span class="bar"></span></button>
  <nav class="menu-navigation" role="navigation" aria-label="Menu principal">
    <ul>
      <li><a href="./index.html">Accueil</a></li>
      <li><a href="./carte-et-menus.html">Carte et menus</a></li>
      <li><a href="./reservations.html">Réservations</a></li>
      <li><a href="./contact.html">Groupe</a></li>
    </ul>
  </nav>
  <div id="burger-overlap" class="burger-overlap" aria-label="Menu mobile">
    <nav class="liens" role="navigation" aria-label="Menu mobile">
      <ul>
        <li><a href="./index.html">Accueil</a></li>
        <li><a href="./carte-et-menus.html">Carte et menus</a></li>
        <li><a href="./reservations.html">Réservations</a></li>
        <li><a href="./contact.html">Groupe</a></li>
        <li><a href="./mentions-legales.html">Mentions légales</a></li>
        <li><a href="./protections-donees.html">Protections des données</a></li>
      </ul>
    </nav>
    <div class="dash"></div>
    <div class="contacts">
      <div class="contact-card">
        <address>
          L'ami Fritsch<br>
          9, rue principale, 67350<br>
          Ettendorf<br>
          Tél : <a href="tel:0368038167">03.68.03.81.67</a><br>
          Mail : <a href="mailto:lamifritsch@orange.fr">lamifritsch@orange.fr</a>
        </address>
      </div>
      <a class="cta" href="./reservations.html">Réserver</a>
    </div>
    <div class="dash"></div>
    <div class="socials">
      <a class="pastille" target="_blank" href="https://www.instagram.com/lamifritsch/">
        <span class="sr-only">Suivez-nous sur Instagram</span>
        <img src="./assets/icons/instagram-brands.svg" alt="Logo Instagram">
      </a>
      <a class="pastille" target="_blank" href="https://www.facebook.com/Lamifritsch/">
        <span class="sr-only">Suivez-nous sur Facebook</span>
        <img src="./assets/icons/facebook-f-brands-solid.svg" alt="Logo Facebook">
      </a>
    </div>
  </div>
</header>